{"name":"DigitalPassportPhotoApp","slug":"DigitalPassportPhotoApp","version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"light","splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#ffffff"},"ios":{"supportsTablet":true,"bundleIdentifier":"com.example.digitalpassportphoto","infoPlist":{"ITSAppUsesNonExemptEncryption":false}},"android":{"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#ffffff"},"package":"com.example.digitalpassportphoto"},"web":{"favicon":"./assets/favicon.png"},"plugins":["expo-router"],"scheme":"myapp","extra":{"router":{"origin":false},"eas":{"projectId":"8607c2e8-85e4-43d4-8a76-34f05ed6918e"}},"owner":"","sdkVersion":"51.0.0","platforms":["ios","android"]}